body {
  font-family: "Baloo Chettan", cursive;
  background-image: url(/assets/backgroundsnow.png);
  height: 100vh;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  height: 75%;
}

.gameBoard {
  justify-content: space-evenly;
}

.cardContainer {
  height: 24%;
  width: 30%;
  /* width: 200px;
  height: 260px;
  perspective: 600px; */
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card__face {
  border-radius: 10px;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card__face--front {
  background-position: fixed;
  background: no-repeat;
  background-image: url(/assets/penquin.jpg);
  max-width: 100%; 
  max-height: 100%;
  background-size: 100%; 
}

.card__face--back {
  transform: rotateY(180deg);
  background: no-repeat;
    
}

.arctic_fox {
  background-position: fixed;
    background: no-repeat;
    background: url(/assets/arctic\ fox.jpeg);
    max-width: 100%; 
    max-height: 100%;
    background-size: 100%; 

}

.polarbear {
  background-position: fixed;
  background: no-repeat;
  background: url(/assets/polarbear.jpg);
  max-width: 100%; 
  max-height: 100%;
  background-size: 100%;
}

.puffin {
  background-position: fixed;
  background: no-repeat;
  background: url(/assets/puffin.jpg);
  max-width: 100%; 
  max-height: 100%;
  background-size: 100%;
}

.seal {
  background-position: fixed;
  background: no-repeat;
  background: url(/assets/seal.jpg);
  max-width: 100%; 
  max-height: 100%;
  background-size: 100%;
}

.walrus {
  background-position: fixed;
  background: no-repeat;
  background: url(/assets/walrus.jpg);
  max-width: 100%; 
  max-height: 100%;
  background-size: 100%;
}

.whale {
  background-position: fixed;
  background: no-repeat;
  background: url(/assets/whale.jpg);
  max-width: 100%; 
  max-height: 100%;
  background-size: 100%;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.button_container {
  align-self: center;
}

footer {
  width: 100%;
  position: absolute;
  bottom: -20px;
  text-align: right;
  align-self: center;
}

@media (min-width: 768px) {
  .cardContainer {
    height: 30%;
    width: 22%;
  }

  .card__face--front {
    background-position: fixed;
    background: no-repeat;
    background: url(/assets/penquin.jpg);
    max-width: 100%; 
    max-height: 100%;
    background-size: 100%; 
  }

  .card__face--back {
    transform: rotateY(180deg);
    
  }

  .arctic_fox {
    background-position: fixed;
      background: no-repeat;
      background: url(/assets/arctic\ fox.jpeg);
      max-width: 100%; 
      max-height: 100%;
      background-size: 100%; 
  
  }
  
  .polarbear {
    background-position: fixed;
    background: no-repeat;
    background: url(/assets/polarbear.jpg);
    max-width: 100%; 
    max-height: 100%;
    background-size: 100%;
  }
  
  .puffin {
    background-position: fixed;
    background: no-repeat;
    background: url(/assets/puffin.jpg);
    max-width: 100%; 
    max-height: 100%;
    background-size: 100%;
  }
  
  .seal {
    background-position: fixed;
    background: no-repeat;
    background: url(/assets/seal.jpg);
    max-width: 100%; 
    max-height: 100%;
    background-size: 100%;
  }
  
  .walrus {
    background-position: fixed;
    background: no-repeat;
    background: url(/assets/walrus.jpg);
    max-width: 100%; 
    max-height: 100%;
    background-size: 100%;
  }
  
  .whale {
    background-position: fixed;
    background: no-repeat;
    background: url(/assets/whale.jpg);
    max-width: 100%; 
    max-height: 100%;
    background-size: 100%;
  }

  footer {
    width: 100%;
    position: absolute;
    bottom: -15px;
    text-align: right;
    align-self: center;
  }
}

