/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

body {
  font-family: "Baloo Chettan", cursive;
  background-image: url(/images/backgroundsnow.png);
  height: 100vh;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  height: 75%;
}

i {
  margin: 10px 20px;
}

#time {
  margin: 10px 20px;
  font-size: 25px;
}

.gameBoard {
  justify-content: space-evenly;
}

.gameCard {
  height: 24%;
  width: 30%;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.gameCard.flip {
  transform: rotateY(180deg);
}

.gameCard.hide {
  opacity: 0;
}

.gameCard:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.cardFront,
.cardBack {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 5px;
}

.cardFront {
  transform: rotateY(180deg);
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

button {
  background-color: lightgray;
  padding: 20px;
  border-color: lightblue;
}
footer {
  width: 100%;
  bottom: -20px;
  text-align: right;
}

/* modal styling */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  text-align: center;
}

img {
  height: 80%;
  width: 80%;
}

/* --- Desktop Styling Below ------------------------------------ */

@media (min-width: 768px) {
  .gameCard {
    height: 30%;
    width: 22%;
  }

  img {
    height: 50%;
    width: 50%;
  }
  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
  }
}
